{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_webside/registration


    Example context (json):
    {

    }
}}
<button class="btn btn-primary" onclick="location.href='{{registrationUrl}}'"> Registration </button>
<button class="btn btn-primary" onclick="location.href='{{billUrl}}'"> Bill </button>
<h1 class="text-center"> {{ text_table_inscription }} </h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Statut</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
{{#messages}}
 <tr>
     <th scope="row">{{ statut }}</th>
      <td> {{ name }} </td>
    </tr>
{{/messages}}
  </tbody>
</table>
<hr>
<button class="btn btn-primary" onclick="location.href='{{editurl}}'"> UPDATE </button>


